{% extends "shared/base.jinja2" %}

{% block title %}Hauptseite{% endblock %}

{% block content %}
    <p class="text-3xl">Angebot</p>

    

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

