{% extends "shared/base.html" %} {% block title %}Hauptseite{% endblock %} {%
block content %}
<p class="text-3xl">Hallo Bürger</p>

<p class="mt-8">
  Diese Webpräsenz befindet sich in der Konstruktionsphase da uns die
  Unterstützung der
  <a href="https://wiki.korsti.pp.ua/wiki/Republik_Bundeslandia"></a> fehlt und
  wir als
  <a href="https://wiki.korsti.pp.ua/wiki/Au%C3%9Fenseiter-Ministerium"
    >Aussenseiter-Ministerium</a
  >
  gelten. Unser Vertrieb (und damit auch Ihr Erwerb) von Jodtabletten durch
  unsere Netzseite ist dadurch ebenfalls stark eingeschränkt. Sollten sie
  dringend Jodtabletten benötigen, wenden sie sich an die Notaufnahme des
  nächste Krankenhauses.
</p>

<p class="mt-8">
  Das Bundesministerium für die Verteilung und den Rückruf von Jodtabletten
  (BVRJ) bittet vielmals um Verständnis.
</p>

<p class="mt-8">
  Aus rechtlichen gründen sind wir gezwungen, ihnen mitzuteilen, dass wir
  momentan vom Ministerium der Wahrheit geprüft werden. Wir sind jedoch
  zuverlässig, dass wir unser Audit bestehen.
</p>
{% endblock %}
